:root {
	/* Text */
	--DarkBlue: hsl(238, 29%, 16%);
	--SoftRed: hsl(14, 88%, 65%);

	/* Gradient */
	--SoftViolet: hsl(273, 75%, 66%);
	--SoftBlue: hsl(240, 73%, 65%);

	/* Text */
	--VeryDarkGrayBlue: hsl(237, 12%, 33%);
	--DarkGrayBlue: hsl(240, 6%, 50%);

	/* Dividers */
	--LightGrayBlue: hsl(240, 5%, 91%);

	font-size: 12px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(var(--SoftViolet), var(--SoftBlue));
	/* width: 375px; */
	padding: 150px 0 85px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	width: 328px;
	background-color: white;
	margin-bottom: 1rem;
	padding: 0 25px 49px;
	box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.38);
}

.img-stack {
	background-image: url("./images/bg-pattern-mobile.svg");
	background-repeat: no-repeat;
	background-position: top 0px left 50%;
	margin-bottom: 2rem;
	padding-bottom: 15px;
}

.box {
	display: none;
}

.image {
	margin-top: -108px;
	padding-right: 30px;
}

.faq {
	width: 100%;
}

.title {
	color: var(--DarkBlue);
	text-align: center;
	font-weight: 700;
	font-size: 2.65rem;
	margin-bottom: 1.1rem;
}

ul {
	list-style: none;
}

li {
	border-bottom: solid 1px var(--LightGrayBlue);
	padding: 1.4rem 0;
}

.ask {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--DarkBlue);
	font-size: 13px;
	cursor: pointer;
}

.ask p:hover {
	color: var(--SoftRed);
}

.question {
	font-weight: 400;
}

.reply {
	display: none;
	padding-right: 1rem;
	color: var(--DarkGrayBlue);
	margin-top: 1.3rem;
	line-height: 1.5rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--SoftRed);
}

@media (min-width: 800px) {
	body {
		padding-top: 130px;
		padding-bottom: 105px;
		padding-left: 130px;
		padding-right: 180px;
	}

	main {
		flex-direction: row;
		align-items: flex-start;
		width: 920px;
		min-height: 400px;
		overflow: hidden;
		padding: 0;
		background-image: url("./images/bg-pattern-desktop.svg");
		background-repeat: no-repeat;
		background-position: right 530px bottom -135px;
	}
	.img-stack {
		align-self: center;
		width: 60%;
		background-image: none;
		margin: 0;
		padding: 0;
	}
	.box {
		position: absolute;
		display: block;
		left: 100px;
		top: 330px;
	}
	.image {
		content: url("./images/illustration-woman-online-desktop.svg");
		padding: 0;
		margin-left: -83px;
		margin-top: -7px;
	}
	.faq {
		width: 54%;
		padding-right: 95px;
		padding-top: 63px;
		padding-bottom: 80px;
	}
	.title {
		text-align: left;
		margin-bottom: 20px;
	}

	.question {
		font-size: 1.2rem;
	}
	.reply {
		font-size: 1rem;
	}
}
